{% extends "app/base_site.html" %}

{% block title %} Form Wizards {% endblock title %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <!-- <h3>Form Wizards</h3> -->
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Estimation </h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">


              <!-- Smart Wizard -->
                    <p>Estimate your cost by filling up the form</p>
                    <div id="wizard" class="form_wizard wizard_horizontal">
                      <ul class="wizard_steps">
                        <li>
                          <a href="#step-1">
                            <span class="step_no">1</span>
                            <span class="step_descr">
                                              Step 1<br />
                                              <small>Type</small>
                                          </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-2">
                            <span class="step_no">2</span>
                            <span class="step_descr">
                                              Step 2<br />
                                              <small>Type</small>
                                          </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-3">
                            <span class="step_no">3</span>
                            <span class="step_descr">
                                              Step 3<br />
                                              <small>Value</small>
                                          </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-4">
                            <span class="step_no">4</span>
                            <span class="step_descr">
                                              Step 4<br />
                                              <small>Type</small>
                                          </span>
                          </a>
                        </li>
                      </ul>

                      <div id="step-1">
                        <h2 class="StepTitle">Choose Your Type</h2>
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Type of Matter</label>
                        <form class="form-horizontal form-label-left">
                          <div class="form-group"> 
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <div id="gender" class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                  <input type="radio" name="litigation" value="male"> &nbsp; Litigation &nbsp;
                                </label>
                                <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                  <input type="radio" name="corporate" value="female"> &nbsp; Corporate &nbsp;
                                </label>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>

                      <div id="step-2">
                        <h2 class="StepTitle">Choose Your Corporate Type</h2>
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">Type of Transaction</label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <div id="gender" class="btn-group" data-toggle="buttons">
                              <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                <input type="radio" name="realestate" value="male"> &nbsp; Real Estate &nbsp;
                              </label>
                              <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                <input type="radio" name="energy" value="female"> &nbsp; Energy &nbsp;
                              </label>
                              <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                <input type="radio" name="banking" value="female"> &nbsp; Banking &nbsp;
                              </label>
                              <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                <input type="radio" name="finance" value="female"> &nbsp; Finance &nbsp;
                              </label>
                              <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                <input type="radio" name="ma" value="female"> &nbsp; M&A &nbsp;
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="step-3">
                        <h2 class="StepTitle">Input the Deal Value</h2>
                        <div class="form-group">
                            
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Overall Value of the Transaction <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" id="first" required="required" class="form-control col-md-7 col-xs-12" value="1000000">
                            </div>
                          </div>
                      </div>
                      <div id="step-4">
                        <h2 class="StepTitle">Choose Your Jurisdiction</h2>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Jurisdiction Region</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <div id="gender" class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                  <input type="radio" name="usonly" value="male"> &nbsp; US Only &nbsp;
                                </label>
                                <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                  <input type="radio" name="international" value="female"> &nbsp; International &nbsp;
                                </label>
                              </div>
                            </div>
                          </div>
                      </div>

                    </div>
                    <!-- End SmartWizard Content -->
                    <div class="col-md-1 col-sm-2 col-xs-12 form-group pull-right">
                        <div class="input-group">
                                <span class="input-group-btn">
                                    <a class="btn btn-default" type="button" href="./dashboard.html" >Finish</a>
                                </span>
                        </div>

                        <div class="input-group">
                          <span id="xyz" class="input-group-btn">
                              <button class="btn btn-default" type="button" id="show" >fdsa</button>
                          </span>
                        </div>
                        
                        <!-- <button type="button" id="show" >fdsa</button> -->
                      </div>
              <!-- End SmartWizard Content -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- jQuery Smart Wizard -->
  <script src="/static/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>

  <script>
  
    $("#show").click(function(){
      alert($("#usonly").attr('id'));
    });
  
  </script>
{% endblock javascripts %}
