<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="index.html" class="site_title"><img src="/static/images/dentons.png" ,height="125" width="125"> <span>Book</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="/static/images/HS.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2>Diana Prince</h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-home"></i> Dashboards <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a>Dashboard</a></li>
            <!-- <li><a>Dashboard2</a></li>
            <li><a>Dashboard3</a></li> -->
          </ul>
        </li>
        <li><a><i class="fa fa-edit"></i> Estimate <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <!-- <li><a href="form.html">General Form</a></li> -->
            <!-- <li><a href="form_advanced.html">Advanced Components</a></li> -->
            <li><a>HOME</a></li>
            <li><a href="num_doc.html">NEW CASE</a></li>
            <li><a href="sprint2.html">***</a></li>
            <!-- <li><a href="track.html">Track</a></li> -->
            <li><a href="manage_page.html">manage</a></li>
            <li><a href="form_advanced.html">Form Upload</a></li>
            <!-- <li><a >Other Inquiries</a></li> -->
          </ul>
        </li>
                <li><a><i class="fa fa-desktop"></i> Find Your Team <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <!-- <li><a>General Elements</a></li>
                    <li><a>Media Gallery</a></li>
                    <li><a>Typography</a></li>
                    <li><a>Icons</a></li>
                    <li><a>Glyphicons</a></li>
                    <li><a>Widgets</a></li>
                    <li><a>Invoice</a></li>
                    <li><a>Inbox</a></li>
                    <li><a>Calendar</a></li> -->
                  </ul>
                </li>
                <li><a><i class="fa fa-table"></i> Our Professionals <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <!-- <li><a>Tables</a></li>
                    <li><a>Table Dynamic</a></li> -->
                  </ul>
                </li>
                <li><a><i class="fa fa-bar-chart-o"></i> About us <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <!-- <li><a>Chart JS</a></li>
                    <li><a>Chart JS2</a></li>
                    <li><a>Moris JS</a></li>
                    <li><a>ECharts</a></li>
                    <li><a>Other Charts</a></li> -->
                  </ul>
                </li>
                <li><a><i class="fa fa-clone"></i>Other <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <!-- <li><a>Fixed Sidebar</a></li>
                    <li><a>Fixed Footer</a></li> -->
                  </ul>
                </li>
      </ul>
    </div>
    </div>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
      <a data-toggle="tooltip" data-placement="top" title="Settings">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="FullScreen">
        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Lock">
        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
      </a>
    </div>
    <!-- /menu footer buttons -->
  </div>
